body {
  background-color: black;
  color: white;
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: 0 15px;
}

.logo {
  display: flex;
  padding-right: 3px;
}

.logo img {
  width: 70px;
}

.menu {
  display: flex;
  gap: 2em;
  padding-right: 59px;
}

.menu li {
  list-style: none;
  cursor: pointer;
}

.menu li:hover {
  background-image: none;
}

.menu li:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 25vw;
  bottom: 0;
  background-image: url('');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

.menu li:nth-child(1):hover::before {
  background-image: url('../image/sticker-1.png');
}
.menu li:nth-child(2):hover::before {
  background-image: url('../image/sticker-2.png');
}
.menu li:nth-child(3):hover::before {
  background-image: url('../image/sticker-3.png');
}
.menu li:nth-child(4):hover::before {
  background-image: url('../image/sticker-4.png');
}
.menu li:nth-child(5):hover::before {
  background-image: url('../image/sticker-5.png');
}

a {
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20vh;
}

.section-profile, .section-contact, .section-skills, .section-certificate {
  margin-bottom: 20vh;
}

.section-profile {
  max-width: 60vw;
  text-align: start;
  justify-content: center;
  display: flex;
  gap: 3em;
  margin-top: 20vh;
  padding-top: 10vh;
}

.section-profile .fProfile img {
  border-radius: 3%;
}

.section-profile .dProfile .gProfile {
  display: inline-flex;
  gap: 1vh;
  margin-bottom: -4vh;

}

 h1 {
  font-size: 5vh;
}

.gProfile h3 {
  color: red;
  margin-top: 5vh;
}

.bProfile {
  display: flex;
  gap: 1em;
  text-align: center;
}

.section-profile .bPortofolio {
  border-radius: 20px;
  padding: 10px 20px;
  max-width: fit-content;
  text-align: center;
  cursor: pointer;
  border: 1px solid red;
}

.section-profile .bPortofolio:hover {
  background-color: rgba(235, 8, 8, 0.39);
  opacity: 0.7;
}

.section-profile .bContact {
  border-radius: 20px;
  padding: 10px 20px;
  max-width: fit-content;
  cursor: pointer;
  text-align: center;
  border: 1px solid red;
}

.section-profile .bProfile .bContact:hover {
  background-color: rgba(255, 0, 0, 0.336);
  opacity: 0.7;
}

.section-skills {
  margin-bottom: 20vh;
}

.section-skills .tSkills h1 {
  font-size: 5vh;
}

.section-skills .fSkills {
  margin-bottom: 5vh;
}

.section-skills .iSkills {
  display: flex;
  gap: 3em;
}

.section-skills .iSkills .card-header img {
  width: 75%;
}

.section-skills .card-skills-h {
  border-right: 2px solid red;
}

.section-skills .card-skills-c {
  border-left: 2px solid red;
}

.section-skills .iSkills .card-skills-j {
  padding: 5px 20px;
}

.my-certificate {
  display: flex;
  justify-content: center;
  gap: 2vw;
  align-items: center;
}

.my-certificate img {
  width: 50%;
  z-index: -2;
}

.my-certificate .certificate-button {
  height: 10%;
  border: none;
  outline: none;
  background: black;
  cursor: pointer;
  padding: 1em;
  display: flex;
}

.my-certificate .certificate-button .arrow {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  transition: transform 0.3s ease-out;
  outline: none;
}

.right {
  margin: auto 0 auto -2em;
}

.right .arrow {
  transform: rotate(-45deg);
}

.left {
  z-index: 0;
  margin: auto -2em auto 0;
}

.left .arrow {
  transform: rotate(135deg);
}

.section-contact .iContact {
  display: flex;
  gap: 3em;
}

.section-contact .iContact img:hover {
  opacity: 0.8;
}

footer {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 0.8vh;
  padding: 1vh;
}




